main {
    width: 100%;
    background-color: aqua;
    display: inline-block;
}

div {
    width: 98%;
    background-color: yellow;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 1%;
    display: inline-block;
}